<div id="fiftycent"> <!-- because we need a (w)rapper XD -->

  <div class='question row text-center'>
    <h1><%= game.question %> <small>auf 100g</small></h1>
  </div>

  <div class='products row'>
    <% game.products.each_with_index do |product, index| %>
      <div class='col-xs-12 col-md-6 text-center game-link' data-game='<%= game.id %>' data-id='<%= product.id %>'>
        <img src='<%= product.imgurl %>' alt='<%= product.name %>' />

        <h3><%= product.name %></h3>
      </div>
    <% end %>
  </div>

</div>
