<div id='fiftycent'> <!-- because we need a (w)rapper XD -->

  <div class='question row text-center'>
    <h1 class='page-header'><%= game.question %> <small>auf 100g</small></h1>
  </div>

  <div class='row' id='messages'></div>

  <div class='products row'>
    <% game.products.each_with_index do |product, index| %>
      <div class='col-xs-12 col-md-4 col-md-offset-1 text-center game-link' data-game='<%= game.id %>' data-id='<%= product.id %>'>
        <h3><%= product.name %></h3>
        <img src='<%= product.imgurl %>' alt='<%= product.name %>' class='img-responsive' />
      </div>

      <% if index == 0 %> <!-- divider -->

        <div class='col-md-1 hidden-xs hidden-sm text-center'>
          <button type='button' class='btn btn-default helper' data-toggle='popover' data-trigger='focus' data-placement='bottom' data-content='Klick einfach auf das Produkt von dem du denkst, dass die Aussage oben stimmt.'>
            <span class='glyphicon glyphicon-question-sign'></span>
          </button>
        </div>
      <% end %>

    <% end %>
  </div>

</div>
