<div class='row text-center stats'>
  <div class='col-xs-12 col-md-4'>
    <div id='chart-today'></div>
    <h4 class='text-success'><%= "#{t.stats.timespan.today} #{t.stats.won}: " %><%= stats[:won_today] %></h4>
    <h4 class='text-danger'><%= "#{t.stats.timespan.today} #{t.stats.lost}: " %><%= stats[:lost_today] %></h4>
  </div>

  <div class='col-xs-12 col-md-4'>
    <div id='chart-last-week'></div>
    <h4 class='text-success'><%= "#{t.stats.timespan.lastWeek} #{t.stats.won}: " %><%= stats[:won_last_week] %></h4>
    <h4 class='text-danger'><%= "#{t.stats.timespan.lastWeek} #{t.stats.lost}: " %><%= stats[:lost_last_week] %></h4>
  </div>

  <div class='col-xs-12 col-md-4'>
    <div id='chart-overall'></div>
    <h4 class='text-success'><%= "#{t.stats.timespan.overall} #{t.stats.won}: " %><%= stats[:won_overall] %></h4>
    <h4 class='text-danger'><%= "#{t.stats.timespan.overall} #{t.stats.lost}: " %><%= stats[:lost_overall] %></h4>
  </div>
</div>

<% content_for :custom_styles do %>
<link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.css'>
<% end %>

<% content_for :custom_scripts do %>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js' defer></script>
  <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js' defer></script>

  <!-- TODO: make it JSON -->
  <script charset='utf-8' defer>
    window.statsData = {
      today: {
        won: <%= stats[:won_today] %>,
        lost: <%= stats[:lost_today] %>
      },
      lastWeek: {
        won: <%= stats[:won_last_week] %>,
        lost: <%= stats[:lost_last_week] %>
      },
      overall: {
        won: <%= stats[:won_overall] %>,
        lost: <%= stats[:lost_overall] %>
      }
    }
  </script>
<% end %>
