<div class='row text-center'>
  <div class='col-xs-12 col-md-4'>
    <div id='chart-today'></div>
    <h4 class='text-success'>Heute gewonnen: <%= stats[:won_today] %></h4>
    <h4 class='text-danger'>Heute verloren: <%= stats[:lost_today] %></h4>
  </div>

  <hr class='visible-xs'>

  <div class='col-xs-12 col-md-4'>
    <div id='chart-last-week'></div>
    <h4 class='text-success'>Letzte Woche gewonnen: <%= stats[:won_last_week] %></h4>
    <h4 class='text-danger'>Letzte Woche verloren: <%= stats[:lost_last_week] %></h4>
  </div>

  <hr class='visible-xs'>

  <div class='col-xs-12 col-md-4'>
    <div id='chart-overall'></div>
    <h4 class='text-success'>Insgesammt gewonnen: <%= stats[:won_overall] %></h4>
    <h4 class='text-danger'>Insgesammt verloren: <%= stats[:lost_overall] %></h4>
  </div>
</div>

<script charset="utf-8">
  window.statsData = {
    today: {
      won: <%= stats[:won_today] %>,
      lost: <%= stats[:lost_today] %>
    },
    lastWeek: {
      won: <%= stats[:won_last_week] %>,
      lost: <%= stats[:lost_last_week] %>
    },
    overall: {
      won: <%= stats[:won_overall] %>,
      lost: <%= stats[:lost_overall] %>
    }
  }
</script>
